In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import world_bank_data as wb

In [2]:
# Electricity production from renewable sources, excluding hydroelectric (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.RNWX.ZS'

#Electricity production from renewable sources, excluding hydroelectric (kWh)
url='https://data.worldbank.org/indicator/EG.ELC.RNWX.KH'

#Electricity production from oil sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.PETR.ZS'

#Electricity production from nuclear sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.NUCL.ZS'

#Electricity production from coal sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.COAL.ZS'

#Electricity production from oil, gas and coal sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.FOSL.ZS'

#------------ELECTRICITY PRODUCTION BREAKDOWN--------------------#UPPER

#Electric power transmission and distribution losses (% of output)
url='https://data.worldbank.org/indicator/EG.ELC.LOSS.ZS'

#------------ACCESS TO ELECTRICITY BREAKDOWN----------------------#LOWER

#Access to electricity (% of population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS'

#Access to electricity, urban (% of urban population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.UR.ZS'

#Access to electricity, rural (% of rural population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.RU.ZS'

In [3]:
#IF SCRAPING
## Electricity production from renewable sources, excluding hydroelectric (% of total)
#url='http://wdi.worldbank.org/table/3.7'
#
#response = requests.get(url)
#response
#
#soup = BeautifulSoup(response.content)#, features = "lxml")
#
#table = soup.find_all('table', attrs= {'class' : 'indicators-table'})

In [4]:
#wb.get_topics()

In [5]:
#wb.get_sources()

In [6]:
#wb.get_countries()

In [7]:
#wb.get_indicators(topic=6, source=2)

In [8]:
#FETCHING FOR VARIOUS TABLES

elect_prod_renew_sourc_per = pd.DataFrame(wb.get_series('EG.ELC.RNWX.ZS', mrv=1))
elect_prod_renew_sourc_kwh = pd.DataFrame(wb.get_series('EG.ELC.RNWX.KH', mrv=1))
elect_prod_oil_sourc = pd.DataFrame(wb.get_series('EG.ELC.PETR.ZS', mrv=1))
elect_prod_nucl_sourc = pd.DataFrame(wb.get_series('EG.ELC.NUCL.ZS', mrv=1))
elect_prod_coal_sourc = pd.DataFrame(wb.get_series('EG.ELC.COAL.ZS', mrv=1))
elect_prod_oilgascoal_sourc = pd.DataFrame(wb.get_series('EG.ELC.FOSL.ZS', mrv=1))
elect_power_transm_loss = pd.DataFrame(wb.get_series('EG.ELC.LOSS.ZS', mrv=1))
elect_access_ww = pd.DataFrame(wb.get_series('EG.ELC.ACCS.ZS', mrv=1))
elect_access_urban = pd.DataFrame(wb.get_series('EG.ELC.ACCS.UR.ZS', mrv=1))
elect_access_rural = pd.DataFrame(wb.get_series('EG.ELC.ACCS.RU.ZS', mrv=1))

In [9]:
#REMOVING COLUMNS FROM INDEXES
elect_prod_renew_sourc_per.reset_index(inplace=True)
elect_prod_renew_sourc_kwh.reset_index(inplace=True)
elect_prod_oil_sourc.reset_index(inplace=True)
elect_prod_nucl_sourc.reset_index(inplace=True)
elect_prod_coal_sourc.reset_index(inplace=True)
elect_prod_oilgascoal_sourc.reset_index(inplace=True)
elect_power_transm_loss.reset_index(inplace=True)
elect_access_ww.reset_index(inplace=True)
elect_access_urban.reset_index(inplace=True)
elect_access_rural.reset_index(inplace=True)

In [10]:
#RENAMING VALUE COLUMNS
elect_prod_renew_sourc_per=elect_prod_renew_sourc_per.rename(columns={"EG.ELC.RNWX.ZS": "Percentage"})
elect_prod_renew_sourc_kwh=elect_prod_renew_sourc_kwh.rename(columns={"EG.ELC.RNWX.KH": "KWH"})
elect_prod_oil_sourc=elect_prod_oil_sourc.rename(columns={"EG.ELC.PETR.ZS": "Percentage"})
elect_prod_nucl_sourc=elect_prod_nucl_sourc.rename(columns={"EG.ELC.NUCL.ZS": "Percentage"})
elect_prod_coal_sourc=elect_prod_coal_sourc.rename(columns={"EG.ELC.COAL.ZS": "Percentage"})
elect_prod_oilgascoal_sourc=elect_prod_oilgascoal_sourc.rename(columns={"EG.ELC.FOSL.ZS": "Percentage"})
elect_power_transm_loss=elect_power_transm_loss.rename(columns={"EG.ELC.LOSS.ZS": "Percentage"})
elect_access_ww=elect_access_ww.rename(columns={"EG.ELC.ACCS.ZS": "Percentage"})
elect_access_urban=elect_access_urban.rename(columns={"EG.ELC.ACCS.UR.ZS": "Percentage"})
elect_access_rural=elect_access_rural.rename(columns={"EG.ELC.ACCS.RU.ZS": "Percentage"})

In [11]:
#DROPPING DUMMY COLUMNS
elect_prod_renew_sourc_per=elect_prod_renew_sourc_per.drop(columns=['Series'])
elect_prod_renew_sourc_kwh=elect_prod_renew_sourc_kwh.drop(columns=['Series'])
elect_prod_oil_sourc=elect_prod_oil_sourc.drop(columns=['Series'])
elect_prod_nucl_sourc=elect_prod_nucl_sourc.drop(columns=['Series'])
elect_prod_coal_sourc=elect_prod_coal_sourc.drop(columns=['Series'])
elect_prod_oilgascoal_sourc=elect_prod_oilgascoal_sourc.drop(columns=['Series'])
elect_power_transm_loss=elect_power_transm_loss.drop(columns=['Series'])
elect_access_ww=elect_access_ww.drop(columns=['Series'])
elect_access_urban=elect_access_urban.drop(columns=['Series'])
elect_access_rural=elect_access_rural.drop(columns=['Series'])

In [12]:
#TABLE TITLE
#elect_prod_renew_sourc_per=elect_prod_renew_sourc_per.style.set_caption("Electricity production from renewable sources, excluding hydroelectric (% of total)")
#elect_prod_renew_sourc_kwh=elect_prod_renew_sourc_kwh.style.set_caption("Electricity production from renewable sources, excluding hydroelectric (kWh)")
#elect_prod_oil_sourc=elect_prod_oil_sourc.style.set_caption("Electricity production from oil sources (% of total)")
#elect_prod_nucl_sourc=elect_prod_nucl_sourc.style.set_caption("Electricity production from nuclear sources (% of total)")
#elect_prod_coal_sourc=elect_prod_coal_sourc.style.set_caption("Electricity production from coal sources (% of total)")
#elect_prod_oilgascoal_sourc=elect_prod_oilgascoal_sourc.style.set_caption("Electricity production from oil, gas and coal sources (% of total)")
#elect_power_transm_loss=elect_power_transm_loss.style.set_caption("Electric power transmission and distribution losses (% of output)")
#elect_access_ww=elect_access_ww.style.set_caption("Access to electricity (% of population)")
#elect_access_urban=elect_access_urban.style.set_caption("Access to electricity, urban (% of urban population)")
#elect_access_rural=elect_access_rural.style.set_caption("Access to electricity, rural (% of rural population)")

In [13]:
#MERGES TO BE DONE  BY NUMBER
#elect_prod_renew_sourc_per   #1
#elect_prod_renew_sourc_kwh   
#elect_prod_oil_sourc!        #1
#elect_prod_nucl_sourc!       #1 
#elect_prod_coal_sourc!       #1
#elect_prod_oilgascoal_sourc
#elect_power_transm_loss
#elect_access_ww   #          #2
#elect_access_urban   #       #2
#elect_access_rural   #       #2

In [23]:
#elect_prod_renew_sourc_per
#elect_prod_renew_sourc_kwh
#elect_prod_oil_sourc
#elect_prod_nucl_sourc
#elect_prod_coal_sourc
#elect_prod_oilgascoal_sourc
#elect_power_transm_loss
#elect_access_ww
#elect_access_urban
#elect_access_rural

2

In [15]:
##Reformating from 'pandas.io.formats.style.Styler' to 'pandas.core.frame.DataFrame'
#elect_prod_renew_sourc_per = pd.DataFrame(elect_prod_renew_sourc_per)
#elect_prod_renew_sourc_kwh = pd.DataFrame(elect_prod_renew_sourc_kwh)
#elect_prod_oil_sourc = pd.DataFrame(elect_prod_oil_sourc)
#elect_prod_nucl_sourc = pd.DataFrame(elect_prod_nucl_sourc)
#elect_prod_coal_sourc = pd.DataFrame(elect_prod_coal_sourc)
#elect_prod_oilgascoal_sourc = pd.DataFrame(elect_prod_oilgascoal_sourc)
#elect_power_transm_loss = pd.DataFrame(elect_power_transm_loss)
#elect_access_ww = pd.DataFrame(elect_access_ww)
#elect_access_urban = pd.DataFrame(elect_access_urban)
#elect_access_rural = pd.DataFrame(elect_access_rural)

In [25]:
#elect_access_ww   #          #2
#elect_access_urban   #       #2
#elect_access_rural   #       #2

result=pd.merge(elect_access_ww, elect_access_rural, on="Country")

table_elec_access=pd.merge(result,elect_access_urban, on="Country")

table_elec_access=table_elec_access.rename(columns={"Percentage_x": "Electricity Access WW", "Percentage_y":"Electricity Access Rural" , "Percentage":"Electricity Access Urban"})

table_elec_access=table_elec_access.drop(columns=['Year','Year_y'])

table_elec_access=table_elec_access.rename(columns={"Year_x": "Year"})

In [ ]:
#elect_prod_renew_sourc_per   #1  
#elect_prod_oil_sourc     #1
#elect_prod_nucl_sourc       #1 
#elect_prod_coal_sourc       #1

In [28]:
combination=pd.merge(elect_prod_renew_sourc_per, elect_prod_oil_sourc, on="Country")
combination2=pd.merge(combination, elect_prod_nucl_sourc, on="Country")
table_elec_source_breakdown=pd.merge(combination2, elect_prod_coal_sourc, on="Country")
table_elec_source_breakdown

table_elec_source_breakdown=table_elec_source_breakdown.rename(columns={"Percentage_x": "Renewable Sources", "Percentage_y":"Oil Source" , "Percentage":"Electricity Access Urban"})

,Country,Year_x,Percentage_x,Year_y,Percentage_y,Year_x,Percentage_x,Year_y,Percentage_y
0,Arab World,2015,0.454259,2015,20.509818,2015,NaN,2015,1.519196
1,Caribbean small states,2015,NaN,2015,NaN,2015,NaN,2015,NaN
2,Central Europe and the Baltics,2015,11.119740,2015,0.854239,2015,13.653417,2015,50.344621
3,Early-demographic dividend,2015,3.566784,2015,9.073565,2015,0.264383,2015,36.528430
4,East Asia & Pacific,2015,4.974811,2015,1.681473,2015,1.946614,2015,59.391846
...,...,...,...,...,...,...,...,...,...
259,Virgin Islands (U.S.),2015,NaN,2015,NaN,2015,NaN,2015,NaN
260,West Bank and Gaza,2015,NaN,2015,NaN,2015,NaN,2015,NaN
261,"Yemen, Rep.",2015,0.000000,2015,60.195268,2015,NaN,2015,0.000000
262,Zambia,2015,0.000000,2015,3.006176,2015,NaN,2015,0.000000
263,Zimbabwe,2015,1.328664,2015,0.494387,2015,NaN,2015,46.781337

In [31]:
#elect_prod_renew_sourc_per   #1  
#elect_prod_oil_sourc     #1
elect_prod_nucl_sourc       #1 
#elect_prod_coal_sourc       #1

                            Country  Year  Percentage
0                        Arab World  2015         NaN
1            Caribbean small states  2015         NaN
2    Central Europe and the Baltics  2015   13.653417
3        Early-demographic dividend  2015    0.264383
4               East Asia & Pacific  2015    1.946614
..                              ...   ...         ...
259           Virgin Islands (U.S.)  2015         NaN
260              West Bank and Gaza  2015         NaN
261                     Yemen, Rep.  2015         NaN
262                          Zambia  2015         NaN
263                        Zimbabwe  2015         NaN

[264 rows x 3 columns]