In [1]:
import pandas as pd
import numpy as np


from bs4 import BeautifulSoup
import requests
import world_bank_data as wb

In [2]:
carsdf = pd.read_csv("./vehicles.csv")
carsdf.head(10)

cleaneddf=carsdf.fillna("filled")
#carsdf.columns
#carsdf[carsdf.columns[10:20]]
#carsdf[carsdf.columns[70:80]]
cleaneddf
dfcars_selection = carsdf[["make","id","model","fuelType","fuelType1","fuelType2","evMotor", "cityE","co2","co2TailpipeAGpm","co2TailpipeGpm","comb08", "combA08", "combE","highway08","highwayA08","highwayE","UCity","UCityA","UHighway","UHighwayA" ]]

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dfselection = cleaneddf[["make","id","model","year","fuelType","evMotor","cityE","co2","co2TailpipeGpm","comb08", "combE","highway08","highwayE","UCity","UHighway"]]
dfselection[dfselection["fuelType"]=="Electricity"][["make","model"]]

         make                              model
7138   Nissan                           Altra EV
7139   Toyota                            RAV4 EV
8143   Toyota                            RAV4 EV
8144     Ford                              Th!nk
8146     Ford             Explorer USPS Electric
...       ...                                ...
36719   Tesla  Model X Performance (22in Wheels)
36720   Tesla             Model Y Long Range AWD
36721   Tesla            Model Y Performance AWD
36727     Kia                      Soul Electric
36728   Tesla            Model X Long Range Plus

[252 rows x 2 columns]

In [4]:
dfselection[dfselection["fuelType"]=="Electricity"]

,make,id,model,year,fuelType,evMotor,cityE,co2,co2TailpipeGpm,comb08,combE,highway08,highwayE,UCity,UHighway
7138,Nissan,16423,Altra EV,2000,Electricity,62 KW AC Induction,41.0000,0,0.0,85,40.0000,91,37.0000,116.2069,129.6154
7139,Toyota,16424,RAV4 EV,2000,Electricity,50 KW DC,41.0000,0,0.0,72,47.0000,64,53.0000,116.2069,91.0811
8143,Toyota,17328,RAV4 EV,2001,Electricity,50 KW DC,41.0000,0,0.0,72,47.0000,64,53.0000,116.2069,91.0811
8144,Ford,17329,Th!nk,2001,Electricity,27 KW AC Induction,46.0000,0,0.0,65,52.0000,58,59.0000,105.3125,82.1951
8146,Ford,17330,Explorer USPS Electric,2001,Electricity,67 KW AC Induction,75.0000,0,0.0,39,87.0000,33,102.0000,62.4074,46.8056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,Tesla,43405,Model X Performance (22in Wheels),2021,Electricity,151 and 273 kW AC 3-Phase,38.0795,0,0.0,86,39.2815,83,40.7505,119.0000,111.2000
36720,Tesla,43406,Model Y Long Range AWD,2021,Electricity,69 and 201 kW AC 3-Phase,25.6464,0,0.0,125,27.0455,117,28.7556,171.1000,152.6000
36721,Tesla,43407,Model Y Performance AWD,2021,Electricity,133 and 179 kW AC 3-Phase,29.3322,0,0.0,111,30.4938,106,31.9135,149.6000,137.5000
36727,Kia,43412,Soul Electric,2020,Electricity,201 kW AC PMSM,25.9849,0,0.0,114,29.1732,101,33.0701,185.3000,145.6000
36728,Tesla,43413,Model X Long Range Plus,2020,Electricity,193 and 205 kW AC 3-Phase,31.0865,0,0.0,105,32.1566,101,33.4644,153.4000,142.5000

In [5]:
motortype = dfselection[(dfselection["fuelType"]=="Electricity") & (dfselection["year"]>2018)]["evMotor"].value_counts()
motortype

193 and 205 kW AC 3-Phase                          11
211 kW AC 3-Phase                                   8
147 and 211 kW AC 3-Phase                           5
160 kW DCPM                                         4
150 kW ACPM                                         4
100 kW AC PMSM                                      3
110 kW DCPM                                         2
205 and 375 kW AC 3-Phase                           2
147 and 147 kW AC 3-Phase                           2
125 kW AC Induction                                 2
151 and 273 kW AC 3-Phase                           2
60 KW AC Synchronous                                2
135 kW AC Induction                                 2
150 kW IPMSM                                        2
147 and 188 kW AC 3-Phase                           2
193 (front) 193 (rear) (100 kW-hr battery pack)     2
135 kW DCPM                                         2
150 kW AC PMSM                                      2
193 (front) 193 (rear) (75 kW-hr battery pack)      2
141 and 172 kW Asynchron 3-Phase                    2
193 (front) 375 (rear) (100 kW-hr battery pack)     2
193 (front), 205/375 (rear) kW ACPM                 2
88 kW AC PMSM                                       1
158 and 203 kW AC 3-Phase                           1
120 and 170 kW ACPM                                 1
180 and 189 kW AC 3-Phase                           1
120 kW AC PMSM                                      1
98 and 195 kW AC 3-Phase                            1
158 and 219 kW AC 3-Phase                           1
193 and 375 kW AC 3-Phase                           1
82 kW AC Induction                                  1
170 kW ACPM                                         1
75 kW DCPM                                          1
120 kW ACPM                                         1
133 and 179 kW AC 3-Phase                           1
81 kW AC PMSM                                       1
201 kW AC PMSM                                      1
69 and 201 kW AC 3-Phase                            1
131 and 190 kW AC 3-Phase                           1
Name: evMotor, dtype: int64

In [6]:
model_el_name=dfselection[(dfselection["fuelType"]=="Electricity") & (dfselection["year"]>2018)][["make","model"]]

model_el_name

             make                              model
33394     Hyundai                     Ioniq Electric
33544   Chevrolet                            Bolt EV
33615     Hyundai                      Kona Electric
33818         Kia                      Soul Electric
33819  Volkswagen                             e-Golf
...           ...                                ...
36719       Tesla  Model X Performance (22in Wheels)
36720       Tesla             Model Y Long Range AWD
36721       Tesla            Model Y Performance AWD
36727         Kia                      Soul Electric
36728       Tesla            Model X Long Range Plus

[84 rows x 2 columns]

In [7]:
#model_el_name.to_csv("elec_car_names.csv")

In [8]:

allcars_2018 = dfselection[dfselection["year"]>2018]
allcars_2018

,make,id,model,year,fuelType,evMotor,cityE,co2,co2TailpipeGpm,comb08,combE,highway08,highwayE,UCity,UHighway
32814,Jeep,39861,Cherokee FWD,2019,Midgrade,filled,0.0000,387,387.0,23,0.0000,29,0.0000,24.9000,40.9961
32815,Jeep,39862,Cherokee 4WD,2019,Midgrade,filled,0.0000,400,400.0,22,0.0000,27,0.0000,24.2000,38.8000
32816,Jeep,39863,Cherokee 4WD Active Drive II,2019,Midgrade,filled,0.0000,416,416.0,21,0.0000,26,0.0000,23.1000,37.0483
32817,Jeep,39864,Cherokee Trailhawk 4WD,2019,Midgrade,filled,0.0000,432,432.0,21,0.0000,24,0.0000,22.8996,34.7000
32826,Chevrolet,39872,Corvette,2019,Premium,filled,0.0000,465,465.0,19,0.0000,25,0.0000,20.0270,35.4602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36723,Lamborghini,43409,Aventador Sian Roadster,2020,Premium,filled,0.0000,861,861.0,10,0.0000,14,0.0000,10.0492,19.1669
36725,Lamborghini,43410,Aventador Sian Coupe,2020,Premium,filled,0.0000,861,861.0,10,0.0000,14,0.0000,10.0492,19.1669
36726,RUF Automobile,43411,TURBO12/CTR3/CTR ANNIVERSARY,2020,Premium,filled,0.0000,497,497.0,18,0.0000,20,0.0000,20.2300,27.6300
36727,Kia,43412,Soul Electric,2020,Electricity,201 kW AC PMSM,25.9849,0,0.0,114,29.1732,101,33.0701,185.3000,145.6000
36728,Tesla,43413,Model X Long Range Plus,2020,Electricity,193 and 205 kW AC 3-Phase,31.0865,0,0.0,105,32.1566,101,33.4644,153.4000,142.5000

In [9]:
# starting formulas calculation



# 1 mile = 1.60934 km
# 1MPG = 0.425144 kilometer per liter
#def mile_to_km(x):
#    x = x*1.60934
#    return x

#allcars_2018["cityE"]=allcars_2018["cityE"]/1.60934 ## alredy executed dont run again

In [10]:
#next column miles to kms co2 column
#allcars_2018["co2"]=allcars_2018["co2"]/1.60934 already done. commented to not rerun

In [11]:
allcars_2018["evMotor"].value_counts()

filled                       2999
48V Li-Ion                     99
259V Li-Ion                    17
34 and 65kW 3-phase Sync.      14
288V Ni-MH                     14
                             ...
125kW DCPM                      1
158 and 219 kW AC 3-Phase       1
686V Li-Ion                     1
158 and 203 kW AC 3-Phase       1
266V Li-Ion                     1
Name: evMotor, Length: 101, dtype: int64

In [12]:
allcars_2018["co2_per_km"]=allcars_2018["co2TailpipeGpm"]/1.60934 #already done. commented to not rerun

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
allcars_2018["cityE_100km"]=allcars_2018["cityE"]/1.60934

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
#MPG transform / by 2.3521458
allcars_2018["comb08_per_km"]=allcars_2018["comb08"]/2.3521458 #already done. commented to not rerun

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
#convert in kms
allcars_2018["combE_per_km"]=allcars_2018["combE"]/1.60934 #already done. commented to not rerun

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#MPG transform
allcars_2018["highway08_per_lkm"]=allcars_2018["highway08"]/2.3521458 #already done. commented to not rerun

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
#convert in kms
allcars_2018["highwayE_per_km"]=allcars_2018["highwayE"]/1.60934 #already done. commented to not rerun

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
#MPG transform
allcars_2018["UCity_per_lkm"]=allcars_2018["UCity"]/2.3521458 #already done. commented to not rerun

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
#MPG transform
allcars_2018["UHighway_per_lkm"]=allcars_2018["UHighway"]/2.3521458 #already done. commented to not rerun

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
#convert in kms
allcars_2018["co2_km"]=allcars_2018["co2"]/1.60934 #already done. commented to not rerun

c:\users\xico2\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
allcars_2018

,make,id,model,year,fuelType,evMotor,cityE,co2,co2TailpipeGpm,comb08,...,UHighway,co2_per_km,cityE_100km,comb08_per_km,combE_per_km,highway08_per_lkm,highwayE_per_km,UCity_per_lkm,UHighway_per_lkm,co2_km
32814,Jeep,39861,Cherokee FWD,2019,Midgrade,filled,0.0000,387,387.0,23,...,40.9961,240.471249,0.000000,9.778305,0.000000,12.329168,0.000000,10.586078,17.429234,240.471249
32815,Jeep,39862,Cherokee 4WD,2019,Midgrade,filled,0.0000,400,400.0,22,...,38.8000,248.549095,0.000000,9.353162,0.000000,11.478880,0.000000,10.288478,16.495576,248.549095
32816,Jeep,39863,Cherokee 4WD Active Drive II,2019,Midgrade,filled,0.0000,416,416.0,21,...,37.0483,258.491058,0.000000,8.928018,0.000000,11.053737,0.000000,9.820820,15.750852,258.491058
32817,Jeep,39864,Cherokee Trailhawk 4WD,2019,Midgrade,filled,0.0000,432,432.0,21,...,34.7000,268.433022,0.000000,8.928018,0.000000,10.203449,0.000000,9.735621,14.752487,268.433022
32826,Chevrolet,39872,Corvette,2019,Premium,filled,0.0000,465,465.0,19,...,35.4602,288.938323,0.000000,8.077731,0.000000,10.628593,0.000000,8.514353,15.075681,288.938323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36723,Lamborghini,43409,Aventador Sian Roadster,2020,Premium,filled,0.0000,861,861.0,10,...,19.1669,535.001926,0.000000,4.251437,0.000000,5.952012,0.000000,4.272354,8.148687,535.001926
36725,Lamborghini,43410,Aventador Sian Coupe,2020,Premium,filled,0.0000,861,861.0,10,...,19.1669,535.001926,0.000000,4.251437,0.000000,5.952012,0.000000,4.272354,8.148687,535.001926
36726,RUF Automobile,43411,TURBO12/CTR3/CTR ANNIVERSARY,2020,Premium,filled,0.0000,497,497.0,18,...,27.6300,308.822250,0.000000,7.652587,0.000000,8.502874,0.000000,8.600657,11.746721,308.822250
36727,Kia,43412,Soul Electric,2020,Electricity,201 kW AC PMSM,25.9849,0,0.0,114,...,145.6000,0.000000,16.146308,48.466383,18.127431,42.939515,20.548859,78.779130,61.900925,0.000000
36728,Tesla,43413,Model X Long Range Plus,2020,Electricity,193 and 205 kW AC 3-Phase,31.0865,0,0.0,105,...,142.5000,0.000000,19.316304,44.640090,19.981235,42.939515,20.793866,65.217046,60.582979,0.000000

In [22]:

allcars_2018= allcars_2018.drop(columns=["cityE","co2","co2TailpipeGpm", 'comb08', 'combE', 'highway08', 'highwayE', 'UCity','UHighway'])

In [23]:


cars2018_c=allcars_2018

In [24]:
cars2018_c=cars2018_c.reset_index()
cars2018_c=cars2018_c.drop(columns='index')
cars2018_c

,make,id,model,year,fuelType,evMotor,co2_per_km,cityE_100km,comb08_per_km,combE_per_km,highway08_per_lkm,highwayE_per_km,UCity_per_lkm,UHighway_per_lkm,co2_km
0,Jeep,39861,Cherokee FWD,2019,Midgrade,filled,240.471249,0.000000,9.778305,0.000000,12.329168,0.000000,10.586078,17.429234,240.471249
1,Jeep,39862,Cherokee 4WD,2019,Midgrade,filled,248.549095,0.000000,9.353162,0.000000,11.478880,0.000000,10.288478,16.495576,248.549095
2,Jeep,39863,Cherokee 4WD Active Drive II,2019,Midgrade,filled,258.491058,0.000000,8.928018,0.000000,11.053737,0.000000,9.820820,15.750852,258.491058
3,Jeep,39864,Cherokee Trailhawk 4WD,2019,Midgrade,filled,268.433022,0.000000,8.928018,0.000000,10.203449,0.000000,9.735621,14.752487,268.433022
4,Chevrolet,39872,Corvette,2019,Premium,filled,288.938323,0.000000,8.077731,0.000000,10.628593,0.000000,8.514353,15.075681,288.938323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3412,Lamborghini,43409,Aventador Sian Roadster,2020,Premium,filled,535.001926,0.000000,4.251437,0.000000,5.952012,0.000000,4.272354,8.148687,535.001926
3413,Lamborghini,43410,Aventador Sian Coupe,2020,Premium,filled,535.001926,0.000000,4.251437,0.000000,5.952012,0.000000,4.272354,8.148687,535.001926
3414,RUF Automobile,43411,TURBO12/CTR3/CTR ANNIVERSARY,2020,Premium,filled,308.822250,0.000000,7.652587,0.000000,8.502874,0.000000,8.600657,11.746721,308.822250
3415,Kia,43412,Soul Electric,2020,Electricity,201 kW AC PMSM,0.000000,16.146308,48.466383,18.127431,42.939515,20.548859,78.779130,61.900925,0.000000
3416,Tesla,43413,Model X Long Range Plus,2020,Electricity,193 and 205 kW AC 3-Phase,0.000000,19.316304,44.640090,19.981235,42.939515,20.793866,65.217046,60.582979,0.000000

In [25]:
#------------------------electricity sections down------------------------------------

In [26]:
# Electricity production from renewable sources, excluding hydroelectric (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.RNWX.ZS'

#Electricity production from renewable sources, excluding hydroelectric (kWh)
url='https://data.worldbank.org/indicator/EG.ELC.RNWX.KH'

#Electricity production from oil sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.PETR.ZS'

#Electricity production from nuclear sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.NUCL.ZS'

#Electricity production from coal sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.COAL.ZS'

#Electricity production from oil, gas and coal sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.FOSL.ZS'

#Electricity production from natural gas sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.NGAS.ZS'

#Electricity production from hydroelectric sources (% of total)
url='https://data.worldbank.org/indicator/EG.ELC.HYRO.ZS'

#------------ELECTRICITY PRODUCTION BREAKDOWN--------------------#UPPER

#Electric power transmission and distribution losses (% of output)
url='https://data.worldbank.org/indicator/EG.ELC.LOSS.ZS'

#------------ACCESS TO ELECTRICITY BREAKDOWN----------------------#LOWER

#Access to electricity (% of population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS'

#Access to electricity, urban (% of urban population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.UR.ZS'

#Access to electricity, rural (% of rural population)
url='https://data.worldbank.org/indicator/EG.ELC.ACCS.RU.ZS'

In [27]:
#FETCHING FOR VARIOUS TABLES

elect_prod_renew_sourc_per = pd.DataFrame(wb.get_series('EG.ELC.RNWX.ZS', mrv=1))
elect_prod_renew_sourc_kwh = pd.DataFrame(wb.get_series('EG.ELC.RNWX.KH', mrv=1))
elect_prod_oil_sourc = pd.DataFrame(wb.get_series('EG.ELC.PETR.ZS', mrv=1))
elect_prod_nucl_sourc = pd.DataFrame(wb.get_series('EG.ELC.NUCL.ZS', mrv=1))
elect_prod_coal_sourc = pd.DataFrame(wb.get_series('EG.ELC.COAL.ZS', mrv=1))
elect_prod_oilgascoal_sourc = pd.DataFrame(wb.get_series('EG.ELC.FOSL.ZS', mrv=1))
elect_prod_natgas_sourc = pd.DataFrame(wb.get_series('EG.ELC.NGAS.ZS', mrv=1))
elect_prod_hydro_sourc = pd.DataFrame(wb.get_series('EG.ELC.HYRO.ZS', mrv=1))
elect_power_transm_loss = pd.DataFrame(wb.get_series('EG.ELC.LOSS.ZS', mrv=1))
elect_access = pd.DataFrame(wb.get_series('EG.ELC.ACCS.ZS', mrv=1))
elect_access_urban = pd.DataFrame(wb.get_series('EG.ELC.ACCS.UR.ZS', mrv=1))
elect_access_rural = pd.DataFrame(wb.get_series('EG.ELC.ACCS.RU.ZS', mrv=1))

In [28]:
#REMOVING COLUMNS FROM INDEXES
elect_prod_renew_sourc_per.reset_index(inplace=True)
elect_prod_renew_sourc_kwh.reset_index(inplace=True)
elect_prod_oil_sourc.reset_index(inplace=True)
elect_prod_nucl_sourc.reset_index(inplace=True)
elect_prod_coal_sourc.reset_index(inplace=True)
elect_prod_oilgascoal_sourc.reset_index(inplace=True)
elect_prod_natgas_sourc.reset_index(inplace=True)
elect_prod_hydro_sourc .reset_index(inplace=True)
elect_power_transm_loss.reset_index(inplace=True)
elect_access.reset_index(inplace=True)
elect_access_urban.reset_index(inplace=True)
elect_access_rural.reset_index(inplace=True)

In [29]:
#RENAMING VALUE COLUMNS
elect_prod_renew_sourc_per=elect_prod_renew_sourc_per.rename(columns={"EG.ELC.RNWX.ZS": "Percentage"})
elect_prod_renew_sourc_kwh=elect_prod_renew_sourc_kwh.rename(columns={"EG.ELC.RNWX.KH": "KWH"})
elect_prod_oil_sourc=elect_prod_oil_sourc.rename(columns={"EG.ELC.PETR.ZS": "Percentage"})
elect_prod_nucl_sourc=elect_prod_nucl_sourc.rename(columns={"EG.ELC.NUCL.ZS": "Percentage"})
elect_prod_coal_sourc=elect_prod_coal_sourc.rename(columns={"EG.ELC.COAL.ZS": "Percentage"})
elect_prod_oilgascoal_sourc=elect_prod_oilgascoal_sourc.rename(columns={"EG.ELC.FOSL.ZS": "Percentage"})
elect_prod_natgas_sourc = elect_prod_natgas_sourc.rename(columns={"EG.ELC.NGAS.ZS": "Percentage"})
elect_prod_hydro_sourc = elect_prod_hydro_sourc.rename(columns={"EG.ELC.HYRO.ZS": "Percentage"})
elect_power_transm_loss=elect_power_transm_loss.rename(columns={"EG.ELC.LOSS.ZS": "Percentage"})
elect_access=elect_access.rename(columns={"EG.ELC.ACCS.ZS": "Percentage"})
elect_access_urban=elect_access_urban.rename(columns={"EG.ELC.ACCS.UR.ZS": "Percentage"})
elect_access_rural=elect_access_rural.rename(columns={"EG.ELC.ACCS.RU.ZS": "Percentage"})

In [30]:
#DROPPING DUMMY COLUMNS
elect_prod_renew_sourc_per=elect_prod_renew_sourc_per.drop(columns=['Series'])
elect_prod_renew_sourc_kwh=elect_prod_renew_sourc_kwh.drop(columns=['Series'])
elect_prod_oil_sourc=elect_prod_oil_sourc.drop(columns=['Series'])
elect_prod_nucl_sourc=elect_prod_nucl_sourc.drop(columns=['Series'])
elect_prod_coal_sourc=elect_prod_coal_sourc.drop(columns=['Series'])
elect_prod_oilgascoal_sourc=elect_prod_oilgascoal_sourc.drop(columns=['Series'])
elect_prod_natgas_sourc = elect_prod_natgas_sourc.drop(columns=['Series'])
elect_prod_hydro_sourc = elect_prod_hydro_sourc.drop(columns=['Series'])
elect_power_transm_loss=elect_power_transm_loss.drop(columns=['Series'])
elect_access=elect_access.drop(columns=['Series'])
elect_access_urban=elect_access_urban.drop(columns=['Series'])
elect_access_rural=elect_access_rural.drop(columns=['Series'])

In [31]:
#elect_prod_renew_sourc_per
#elect_prod_renew_sourc_kwh
#elect_prod_oil_sourc
#elect_prod_nucl_sourc
#elect_prod_coal_sourc
#elect_prod_oilgascoal_sourc
#elect_power_transm_loss
#elect_access
#elect_access_urban
#elect_access_rural

In [32]:
result=pd.merge(elect_access, elect_access_rural, on="Country")

table_elec_access=pd.merge(result,elect_access_urban, on="Country")

table_elec_access=table_elec_access.rename(columns={"Percentage_x": "Electricity Access WW", "Percentage_y":"Electricity Access Rural" , "Percentage":"Electricity Access Urban"})

table_elec_access=table_elec_access.drop(columns=['Year','Year_y'])

table_elec_access=table_elec_access.rename(columns={"Year_x": "Year"})

In [33]:
combination=pd.merge(elect_prod_renew_sourc_per, elect_prod_oil_sourc, on="Country")

combination


combination=combination.drop(columns=['Year_y'])

combination=combination.rename(columns={"Year_x": "Year", "Percentage_y":"Oil Sources %" , "Percentage_x":"Renewable Sources %"})

combination2=pd.merge(combination, elect_prod_nucl_sourc, on="Country")

combination2=combination2.drop(columns=['Year_y'])

combination2=combination2.rename(columns={"Percentage": "Nuclear Sources %"})

combination3=pd.merge(combination2, elect_prod_coal_sourc, on="Country")

combination3=combination3.drop(columns=['Year'])

combination4=combination3.rename(columns={"Year_x": "Year", "Percentage": "Coal Sources %"})

combination5=pd.merge(combination4, elect_prod_natgas_sourc, on="Country")

combination5=combination5.drop(columns=['Year_y'])

combination5=combination5.rename(columns={"Percentage": "Natural Gas Sources %", "Year_x": "Year"})

combination6=pd.merge(combination5, elect_prod_hydro_sourc, on="Country")

combination6=combination6.drop(columns=['Year_y'])

table_elec_source_breakdown=combination6.rename(columns={"Percentage": "Hydroelectric Sources %", "Year_x": "Year"})

In [34]:
table_elec_source_breakdown.iloc[200:250]

,Country,Year,Renewable Sources %,Oil Sources %,Nuclear Sources %,Coal Sources %,Natural Gas Sources %,Hydroelectric Sources %
200,Paraguay,2015,0.000000,0.001794,NaN,0.000000,0.000000,99.998206
201,Peru,2015,3.589563,1.403080,NaN,0.839361,45.027046,49.140950
202,Philippines,2015,14.899348,7.142077,NaN,44.514822,22.906580,10.514118
203,Poland,2015,12.687643,1.288784,0.000000,80.906165,3.886431,1.114755
204,Portugal,2015,30.639028,2.558452,0.000000,28.718239,20.596322,16.887346
205,Puerto Rico,2015,NaN,NaN,NaN,NaN,NaN,NaN
206,Qatar,2015,0.000000,0.000000,NaN,0.000000,100.000000,0.000000
207,Romania,2015,14.515640,0.719032,NaN,27.638725,14.238039,25.231334
208,Russian Federation,2015,0.091027,0.946958,NaN,14.821658,49.712609,15.764769
209,Rwanda,2015,NaN,NaN,NaN,NaN,NaN,NaN
210,Samoa,2015,NaN,NaN,NaN,NaN,NaN,NaN
211,San Marino,2015,NaN,NaN,NaN,NaN,NaN,NaN
212,Sao Tome and Principe,2015,NaN,NaN,NaN,NaN,NaN,NaN
213,Saudi Arabia,2015,0.000296,20.406342,NaN,0.000000,55.803698,0.000000
214,Senegal,2015,1.769912,83.615676,NaN,0.000000,4.171934,8.647282
215,Serbia,2015,0.093097,0.074478,NaN,72.429844,0.579864,26.812076
216,Seychelles,2015,NaN,NaN,NaN,NaN,NaN,NaN
217,Sierra Leone,2015,NaN,NaN,NaN,NaN,NaN,NaN
218,Singapore,2015,1.820887,0.698205,NaN,1.196073,95.029257,0.000000
219,Sint Maarten (Dutch part),2015,NaN,NaN,NaN,NaN,NaN,NaN
220,Slovak Republic,2015,8.163112,1.441874,56.871433,12.511265,6.022830,14.516371
221,Slovenia,2015,3.691705,0.114733,38.118378,29.594385,2.726598,25.700209
222,Solomon Islands,2015,NaN,NaN,NaN,NaN,NaN,NaN
223,Somalia,2015,NaN,NaN,NaN,NaN,NaN,NaN
224,South Africa,2015,1.930403,0.074168,NaN,92.711238,0.000000,0.324638
225,South Sudan,2015,0.606061,99.393939,NaN,0.000000,0.000000,0.000000
226,Spain,2015,24.820009,6.206442,20.618664,18.962389,18.898312,10.129881
227,Sri Lanka,2015,3.193749,17.819754,NaN,33.705052,0.000000,45.281444
228,St. Kitts and Nevis,2015,NaN,NaN,NaN,NaN,NaN,NaN
229,St. Lucia,2015,NaN,NaN,NaN,NaN,NaN,NaN
230,St. Martin (French part),2015,NaN,NaN,NaN,NaN,NaN,NaN
231,St. Vincent and the Grenadines,2015,NaN,NaN,NaN,NaN,NaN,NaN
232,Sudan,2015,0.000000,22.618226,NaN,0.000000,0.000000,64.535909
233,Suriname,2015,0.000000,39.946856,NaN,0.000000,0.000000,60.053144
234,Sweden,2015,16.754050,0.155622,34.736400,0.666951,0.262457,46.508698
235,Switzerland,2015,4.316383,0.068082,34.931994,0.000000,1.001558,57.881598
236,Syrian Arab Republic,2015,0.000000,29.064370,NaN,0.000000,68.625916,2.309714
237,Tajikistan,2015,0.000000,0.000000,NaN,1.526629,0.000000,98.473371
238,Tanzania,2015,0.667196,21.938046,NaN,0.000000,43.907863,33.486894
239,Thailand,2015,5.872525,0.570432,NaN,19.454320,71.436769,2.665954
240,Timor-Leste,2015,NaN,NaN,NaN,NaN,NaN,NaN
241,Togo,2015,6.172840,24.691358,NaN,0.000000,0.000000,69.135802
242,Tonga,2015,NaN,NaN,NaN,NaN,NaN,NaN
243,Trinidad and Tobago,2015,0.000000,0.233010,NaN,0.000000,99.766990,0.000000
244,Tunisia,2015,2.485261,4.635088,NaN,0.000000,91.441350,0.350681
245,Turkey,2015,6.307132,0.849559,0.000000,29.095090,37.901239,25.649488
246,Turkmenistan,2015,0.000000,0.000000,NaN,0.000000,100.000000,0.000000
247,Turks and Caicos Islands,2015,NaN,NaN,NaN,NaN,NaN,NaN
248,Tuvalu,2015,NaN,NaN,NaN,NaN,NaN,NaN
249,Uganda,2015,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
table_elec_source_breakdown.columns
#def rest(row):
#    if table_elec_source_breakdown[2]
table_elec_source_breakdown["rest"]= 100-table_elec_source_breakdown.iloc[:,2:8].fillna(0).apply(sum,axis=1)
table_elec_source_breakdown

,Country,Year,Renewable Sources %,Oil Sources %,Nuclear Sources %,Coal Sources %,Natural Gas Sources %,Hydroelectric Sources %,rest
0,Arab World,2015,0.454259,20.509818,NaN,1.519196,64.071422,2.438456,1.100685e+01
1,Caribbean small states,2015,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+02
2,Central Europe and the Baltics,2015,11.119740,0.854239,13.653417,50.344621,7.101308,9.133112,7.793563e+00
3,Early-demographic dividend,2015,3.566784,9.073565,0.264383,36.528430,32.589130,14.003280,3.974428e+00
4,East Asia & Pacific,2015,4.974811,1.681473,1.946614,59.391846,13.524058,15.228439,3.252760e+00
...,...,...,...,...,...,...,...,...,...
259,Virgin Islands (U.S.),2015,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+02
260,West Bank and Gaza,2015,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+02
261,"Yemen, Rep.",2015,0.000000,60.195268,NaN,0.000000,39.804732,0.000000,0.000000e+00
262,Zambia,2015,0.000000,3.006176,NaN,0.000000,0.000000,96.993824,2.842171e-14
263,Zimbabwe,2015,1.328664,0.494387,NaN,46.781337,0.000000,51.395612,0.000000e+00

In [36]:
table_elec_access

,Country,Year,Electricity Access WW,Electricity Access Rural,Electricity Access Urban
0,Arab World,2018,89.286856,79.248100,97.063959
1,Caribbean small states,2018,98.401602,97.226735,99.584314
2,Central Europe and the Baltics,2018,100.000000,100.000000,99.994298
3,Early-demographic dividend,2018,90.724652,84.200218,98.793351
4,East Asia & Pacific,2018,97.986434,96.344871,99.081422
...,...,...,...,...,...
259,Virgin Islands (U.S.),2018,100.000000,100.000000,100.000000
260,West Bank and Gaza,2018,100.000000,100.000000,100.000000
261,"Yemen, Rep.",2018,62.000000,48.698349,85.000000
262,Zambia,2018,39.812622,10.968000,77.245483
263,Zimbabwe,2018,41.041584,19.997750,85.333015

In [37]:
#conversion table for c02emission depending on raw material source used

#20kwh of coal : 20000g
#20kwh of nuclear *: usually accepted to emit 70% less than diesel so : 3000g
#20kwh of natural gas : 10000 gCO2/100km
#20kwh renewable : < 1200g CO2/100km
    
#kg co2/kwh produced ---those values below are in kg,  . source https://www.eia.gov/tools/faqs/faq.php?id=74&t=11
coal_prod = 1002.439
nuclear_prod = 0.2*1002.439 #confirm
natural_gas_prod = 417.305
renewable_prod = 0.2*1002.439 #confirm
hydroelectric_prod = 0.2*1002.439 #confirm
oil_prod = 957.0799

In [39]:
##Nuclear Sources %	Coal Sources %	Natural Gas Sources %	Hydroelectric Sources
#
##for the conventional vehicle input 
#country = input("where do you reside?")
#habits= input("where do usually drive? city, highway or both?")
#car = input("what conventional vehicle would you like to buy ?")
#if car in cars2018_c["brand"]:
#    
#    cars["model"][cars2018_c["brand"] == car]
#        
#    model= input("what model would you chose from those listed above ?")
#    co2emission=cars2018_c["CO2_gperkm"][cars2018_c["model"]==model
#    print("the co2 emission for the car you chose equals "+ co2emission + " per kilometer")
#        
#region = input( "do you drive more in the city or highway or both")
#                                         
##for the electrical vehicle input 
#elec_car = input("what electrical vehicle would you like to buy?")
#if elec_car in cars2018_c["brand"]:
#   
#   cars["model"][cars2018_c["brand"] == car]
#                                         
#   model= input("what model would you chose from those listed above ?")
#   habits= input("where do usually drive? city, highway or both ?)
#   if habits == "city":
#                 
#      co2emission = (cars2018_c["City_kwh_100km"][cars2018_c["model"]==model)/100
#      co2final = co2emission + table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Oil Sources %"]/100
#                +table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Nuclear Sources %"]/100 + 
#                table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Coal Sources %"]/100
#                +table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Natural Gas Sources %"]/100
#                +table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Hydroelectric Sources %"]/100  
#                                                  
#   if habits == "highway":
#                                                  
#      co2emission = (cars2018_c["highway_kwh_100km"][cars2018_c["model"]==model)/100                                   
#                                         
#   if habits == "both":
#                                                  
#      co2emission = (cars2018_c["combined_kwh_100km"][cars2018_c["model"]==model)/100                                      
# 
#print("the co2 emission for the car you chose equals "+ co2emission + " per kilometer")                                                      
#

SyntaxError: invalid syntax (<ipython-input-39-cb7e9a0cd7e2>, line 13)

In [40]:
cars2018_c["model"][cars2018_c["brand"] == "Jeep"]

KeyError: 'brand'

In [41]:
cars2018_c["model"][cars2018_c["brand"] == "Tesla"].unique()

KeyError: 'brand'

In [42]:
cars2018_c["model_full"] = cars2018_c["make"] + " " + cars2018_c["model"]

In [43]:
cars2018_c

,make,id,model,year,fuelType,evMotor,co2_per_km,cityE_100km,comb08_per_km,combE_per_km,highway08_per_lkm,highwayE_per_km,UCity_per_lkm,UHighway_per_lkm,co2_km,model_full
0,Jeep,39861,Cherokee FWD,2019,Midgrade,filled,240.471249,0.000000,9.778305,0.000000,12.329168,0.000000,10.586078,17.429234,240.471249,Jeep Cherokee FWD
1,Jeep,39862,Cherokee 4WD,2019,Midgrade,filled,248.549095,0.000000,9.353162,0.000000,11.478880,0.000000,10.288478,16.495576,248.549095,Jeep Cherokee 4WD
2,Jeep,39863,Cherokee 4WD Active Drive II,2019,Midgrade,filled,258.491058,0.000000,8.928018,0.000000,11.053737,0.000000,9.820820,15.750852,258.491058,Jeep Cherokee 4WD Active Drive II
3,Jeep,39864,Cherokee Trailhawk 4WD,2019,Midgrade,filled,268.433022,0.000000,8.928018,0.000000,10.203449,0.000000,9.735621,14.752487,268.433022,Jeep Cherokee Trailhawk 4WD
4,Chevrolet,39872,Corvette,2019,Premium,filled,288.938323,0.000000,8.077731,0.000000,10.628593,0.000000,8.514353,15.075681,288.938323,Chevrolet Corvette
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3412,Lamborghini,43409,Aventador Sian Roadster,2020,Premium,filled,535.001926,0.000000,4.251437,0.000000,5.952012,0.000000,4.272354,8.148687,535.001926,Lamborghini Aventador Sian Roadster
3413,Lamborghini,43410,Aventador Sian Coupe,2020,Premium,filled,535.001926,0.000000,4.251437,0.000000,5.952012,0.000000,4.272354,8.148687,535.001926,Lamborghini Aventador Sian Coupe
3414,RUF Automobile,43411,TURBO12/CTR3/CTR ANNIVERSARY,2020,Premium,filled,308.822250,0.000000,7.652587,0.000000,8.502874,0.000000,8.600657,11.746721,308.822250,RUF Automobile TURBO12/CTR3/CTR ANNIVERSARY
3415,Kia,43412,Soul Electric,2020,Electricity,201 kW AC PMSM,0.000000,16.146308,48.466383,18.127431,42.939515,20.548859,78.779130,61.900925,0.000000,Kia Soul Electric
3416,Tesla,43413,Model X Long Range Plus,2020,Electricity,193 and 205 kW AC 3-Phase,0.000000,19.316304,44.640090,19.981235,42.939515,20.793866,65.217046,60.582979,0.000000,Tesla Model X Long Range Plus

In [ ]:
habit_list = []
#------------------------------------------FUNCTIONS-START------------------------------------------#
def habit_decision():
    habit_driving = input('Where do you usally drive? City, Highway or Both?')
    
    while (habit_driving != 'City') & (habit_driving != 'Highway') & (habit_driving != 'Both'):
        print('Spell it decently please...')
        habit_driving = input('Where do you usally drive? City, Highway or Both?')
               
    habit_list.append(habit_driving)
    car_decision_making()
    
#------------------------------------------FUNCTIONS------------------------------------------#
country_picks=[]
def country_decision_making():

    country1 = input('Pick a country for analysis?')
    while (table_elec_source_breakdown['Country'] == country1).any() == False:
        print('Spell it decently please...')
        country1 = input('Pick a country for analysis?')
    country_picks.append(country1)
    country_decision2 = input('Do you want to pick another country?(Y) or (N)')
    while (country_decision2 != 'Y')&(country_decision2 != 'N'):
        country_decision2 = input('Do you want to pick another car?(Y) or (N)')
    
    if country_decision2 == 'Y':
        country2 = input('Pick another country?')
        while (table_elec_source_breakdown['Country'] == country2).any() == False:
            print('Spell it decently please...')
            country2 = input('Pick another country?')
        
        country_picks.append(country2)
        country_decision3 = input('Do you want to pick another country?(Y) or (N)')
        while (country_decision3 != 'Y')&(country_decision3 != 'N'):
            country_decision3 = input('Do you want to pick another car?(Y) or (N)')
        
        if country_decision3 == 'Y':
            country3 = input('Pick another country?')
            while (table_elec_source_breakdown['Country'] == country3).any() == False:
                print('Spell it decently please...') 
                country3 = input('Pick another country?')
            country_picks.append(country3)
            habit_decision() 
        elif country_decision3 == 'N':
            habit_decision()
        
    elif country_decision2 == 'N':
        habit_decision()
        
        
        

#------------------------------------------FUNCTIONS------------------------------------------#
car_picks=[]
def car_decision_making():
    
    brand1 = input('Pick a brand car for analysis?')
    while (cars2018_c['make'] == brand1).any() == False:
        print('Spell it decently please...')
        brand1 = input('Pick a brand car for analysis?')
        
    print('\n')
    print(set(cars2018_c[cars2018_c['make'] == brand1]['model']))
    print('\n')
    
    model1 = input('Pick a model for your ' + brand1 + '!')
    while (cars2018_c['model'] == model1).any() == False:
        print('Spell it decently please...')
        model1 = input('Pick a model for your ' + brand1 + '!')
    car_choice1 = brand1 +' '+ model1
    car_picks.append(car_choice1)
   
    more_cars1 = input('Do you want to pick another car?(Y) or (N)')
    while (more_cars1 != 'Y')&(more_cars1 != 'N'):
        more_cars1 = input('Do you want to pick another car?(Y) or (N)')
    
    if more_cars1 == 'Y':
        brand2 = input('Pick a brand car for analysis?')
        while (cars2018_c['make'] == brand2).any() == False:
            print('Spell it decently please...')
            brand2 = input('Pick a brand car for analysis?')
        print('\n')
        print(set(cars2018_c[cars2018_c['make'] == brand2]['model']))
        print('\n')
        model2 = input('Pick a model for your ' + brand2 + '!')
        while (cars2018_c['model'] == model2).any() == False:
            print('Spell it decently please...')
            model2 = input('Pick a model for your ' + brand2 + '!')
        car_choice2 = brand2 +' '+ model2
        car_picks.append(car_choice2)
        
        more_cars2 = input('Do you want to pick another car?(Y) or (N)')
        while (more_cars2 != 'Y')&(more_cars2 != 'N'):
            more_cars2 = input('Do you want to pick another car?(Y) or (N)')
        
        if more_cars2 == 'Y':
            brand3 = input('Pick a brand car for analysis?')
            while (cars2018_c['make'] == brand3).any() == False:
                print('Spell it decently please...')
                brand3 = input('Pick a brand car for analysis?')
            print('\n')
            print(set(cars2018_c[cars2018_c['make'] == brand3]['model']))
            print('\n')
            model3 = input('Pick a model for your ' + brand3 + '!')
            while (cars2018_c['model'] == model3).any() == False:
                print('Spell it decently please...')
                model3 = input('Pick a model for your ' + brand3 + '!')
            car_choice3 = brand3 +' '+ model3
            car_picks.append(car_choice3)
            
            
#        elif more_cars2 == 'N':
#            
#    elif more_cars1 == 'N':
#        
#        

    
def play_product():
    ### WE NEED A BETTER INTRO####
    print('Welcome to our analysis, where we help you make your own decision based on facts CO2 Emissions per Country and Car!')
    print('\n')
    country_decision_making()
    
#------------------------------------------FUNCTIONS-END------------------------------------------#
play_product()

Welcome to our analysis, where we help you make your own decision based on facts CO2 Emissions per Country and Car!

In [90]:
print(car_picks)
print(country_picks)
print(habit_list)

['Tesla Model S 75D', 'Jeep Renegade 2WD', 'Bugatti Chiron']
['France', 'Belgium', 'Serbia']
['City']

In [99]:


dict_car = {}
for model in car_picks:
    co2values= []
    for country in country_picks:
        if cars2018_c["fuelType"][cars2018_c["model_full"]==model].iloc[0] != "Electricity":
            co2emission=(cars2018_c["co2_per_km"][cars2018_c["model_full"]==model]).mean() #gives an answer in GRAM of co2 per KILOÃ‘EMETER
            co2values.append(co2emission)
        else :
            oil_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Oil Sources %"].iloc[0]/100
            nuclear_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Nuclear Sources %"].iloc[0]/100
            coal_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Coal Sources %"].iloc[0]/100
            naturalgas_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Natural Gas Sources %"].iloc[0]/100
            Hydro_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Hydroelectric Sources %"].iloc[0]/100
            Renew_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Renewable Sources %"].iloc[0]/100
            rest_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["rest"].iloc[0]/100
            
            if habit_list[0] == "City":
                kwhperkm= (cars2018_c["cityE_100km"][cars2018_c["model_full"]==model]/100).mean()
            
                co2emission_elec = kwhperkm*coal_source*coal_prod + kwhperkm*oil_source*oil_prod + kwhperkm*nuclear_prod*nuclear_source + kwhperkm*natural_gas_prod*naturalgas_source + kwhperkm*renewable_prod*Renew_source +kwhperkm*hydroelectric_prod*Hydro_source
                
                co2emission_elec += rest_source*co2emission_elec
                
                co2emission_elec_inclbatt=co2emission_elec + 52 #calculation explained in documents attached: battery co2
                
                co2values.append(co2emission_elec_inclbatt)
                
            if habit_list[0] == "Highway":
                kwhperkm= (cars2018_c["highwayE_per_km"][cars2018_c["model_full"]==model]/100).mean()
                co2emission_elec = kwhperkm*coal_source*coal_prod + kwhperkm*oil_source*oil_prod + kwhperkm*nuclear_prod*nuclear_source + kwhperkm*natural_gas_prod*naturalgas_source + kwhperkm*renewable_prod*Renew_source +kwhperkm*hydroelectric_prod*Hydro_source
                co2emission_elec += rest_source*co2emission_elec
                co2emission_elec_inclbatt=co2emission_elec + 52
                print("h",model,co2emission_elec_inclbatt)
                co2values.append(co2emission_elec_inclbatt)
                
            if habit_list[0] == "Combined":
                kwhperkm= (cars2018_c["combE_per_km"][cars2018_c["model_full"]==model]/100).mean()
                co2emission_elec = kwhperkm*coal_source*coal_prod + kwhperkm*oil_source*oil_prod + kwhperkm*nuclear_prod*nuclear_source + kwhperkm*natural_gas_prod*naturalgas_source + kwhperkm*renewable_prod*Renew_source +kwhperkm*hydroelectric_prod*Hydro_source
                co2emission_elec += rest_source*co2emission_elec
                co2emission_elec_inclbatt=co2emission_elec + 52
                print("C",model,co2emission_elec_inclbatt)
                co2values.append(co2emission_elec_inclbatt)

    dict_car[model] = co2values


   



  
    

    




#print(co2emission)
#print(co2emission_elec_inclbatt)  
print(dict_car)

{'Tesla Model S 75D': [99.01245264555902, 119.03741264381163, nan], 'Jeep Renegade 2WD': [212.92372442533375, 212.92372442533375, 212.92372442533375], 'Bugatti Chiron': [521.9530987858377, 521.9530987858377, 521.9530987858377]}

In [102]:
df_car=pd.DataFrame.from_dict(dict_car)
df_car

   Tesla Model S 75D  Jeep Renegade 2WD  Bugatti Chiron
0          99.012453         212.923724      521.953099
1         119.037413         212.923724      521.953099
2                NaN         212.923724      521.953099

In [100]:
df_car = pd.DataFrame(list(dict_car.items()),columns = ["country_1","country_2", "country_3"])

ValueError: 3 columns passed, passed data had 2 columns

In [97]:
#country="France"
#habits= "city"
#conv_car = "Jeep"
model = "Cherokee FWD"
elec_car = "Tesla"
model_e = "Model 3 Mid Range"





co2emission=(cars2018_c["co2_per_km"][cars2018_c["model"]==model]).mean() #gives an answer in GRAM of co2 per KILOÃ‘EMETER

#now lets calculate co2 for electric cars .. :)   

oil_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Oil Sources %"].iloc[0]/100
nuclear_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Nuclear Sources %"].iloc[0]/100
coal_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Coal Sources %"].iloc[0]/100
naturalgas_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Natural Gas Sources %"].iloc[0]/100
Hydro_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Hydroelectric Sources %"].iloc[0]/100
Renew_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Renewable Sources %"].iloc[0]/100
rest_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["rest"].iloc[0]/100

if habits == "city":
    kwhperkm= (cars2018_c["cityE_100km"][cars2018_c["model"]==model_e]/100).mean()
    co2emission_elec = kwhperkm*coal_source*coal_prod + kwhperkm*oil_source*oil_prod + kwhperkm*nuclear_prod*nuclear_source + kwhperkm*natural_gas_prod*naturalgas_source + kwhperkm*renewable_prod*Renew_source +kwhperkm*hydroelectric_prod*Hydro_source
    co2emission_elec += rest_source*co2emission_elec
    co2emission_elec_inclbatt=co2emission_elec + 52 #calculation explained in documents attached: battery co2

if habits == "highway":
    kwhperkm= (cars2018_c["highwayE_per_km"][cars2018_c["model"]==model_e]/100).mean()
    co2emission_elec = kwhperkm*coal_source*coal_prod + kwhperkm*oil_source*oil_prod + kwhperkm*nuclear_prod*nuclear_source + kwhperkm*natural_gas_prod*naturalgas_source + kwhperkm*renewable_prod*Renew_source +kwhperkm*hydroelectric_prod*Hydro_source
    co2emission_elec += rest_source*co2emission_elec
    co2emission_elec_inclbatt=co2emission_elec + 52

if habits == "combined":
    kwhperkm= (cars2018_c["combE_per_km"][cars2018_c["model"]==model_e]/100).mean()
    co2emission_elec = kwhperkm*coal_source*coal_prod + kwhperkm*oil_source*oil_prod + kwhperkm*nuclear_prod*nuclear_source + kwhperkm*natural_gas_prod*naturalgas_source + kwhperkm*renewable_prod*Renew_source +kwhperkm*hydroelectric_prod*Hydro_source
    co2emission_elec += rest_source*co2emission_elec
    co2emission_elec_inclbatt=co2emission_elec + 52  
    
    list_values.append(co2emission_elec_inclbatt)
    
#result_list= []
#columnsname = [sdkdfhsak]
#result_lists.append(co2emission)
#result_lists.append(co2emission_elec_inclbatt)


df_car = pd.DataFrame(list(dict_car.items()),columns = [country_1,country_2, country_3])
print(co2emission)
print(co2emission_elec_inclbatt)

NameError: name 'country_1' is not defined

In [ ]:
country="Belgium"
oil_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Oil Sources %"]/100
oil_source

In [ ]:
kwhperkm= (cars2018_c["City_kwh_100km"][cars2018_c["model"]==model_e]/100).mean()
kwhperkm

In [89]:
cars2018_c["fuelType"][cars2018_c["model_full"]=="Tesla Model S 75D"]

1237    Electricity
Name: fuelType, dtype: object

In [96]:
oil_source = table_elec_source_breakdown[table_elec_source_breakdown["Country"]==country]["Oil Sources %"]/100
oil_source.iloc[0]

0.000744779890942945